
						<div class="header blue"> 
							<span class="title">Sugar Consumed</span>
						</div>
						<div class="main span4">
							<div class="controls">

							</div><!-- .controls -->
							<div class="values">
								
							</div><!-- .values -->
						</div><!-- .span3 -->
						<div class="side span1">
							<ul class="nav nav-list">
								<li><a href="#">

									Data
								</a></li>
									
								<li><a href="#">

									Graph
								</a></li>

								<li><a href="#">

									Star
								</a></li>
									
								<li><a href="#">

									Options
								</a></li>
									
								<li><a href="#">

									Export
								</a></li>
								
								<li><a href="#">

									Delete
								</a></li>
							</ul>
						</div><!-- .span3 -->
