
						<div class="header blue"> 
							<span class="title"><%= stat.escape('name') %></span>
						</div>
						<div class="main span4">
							<div class="controls">

							</div><!-- .controls -->
							<div class="values">
								
							</div><!-- .values -->
						</div><!-- .span3 -->
						<div class="side span1">
							<ul class="nav nav-list">
								<li><a href="#">
									<img src="assets/icons/data.png" />
									Data
								</a></li>
									
								<li><a href="#">
									<img src="assets/icons/graph.png" />									
									Graph
								</a></li>

								<li><a href="#">
									<img src="assets/icons/star.png" />				
									Star
								</a></li>
									
								<li><a href="#">
									<img src="assets/icons/settings.png" />
									Options
								</a></li>
									
								<li><a href="#">
									<img src="assets/icons/export.png" />
									Export
								</a></li>
								
								<li><a href="#">
									<img src="assets/icons/delete.png" />
									Delete
								</a></li>
							</ul>
						</div><!-- .span3 -->
