<img class="thumb" src="assets/user_thumb.png" alt="User Logo" />
<h2>Hi, <br><span class="bold">Benjamin</span></h2>
	<ul class="icons nav nav-list">
		<li><a href="#"><i class="icon-exclamation-sign"></i> Notifications</a></li>
		<li><a href="#"><i class="icon-user"></i> My Account</a></li>
		<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
		<li><a href="#"><i class="icon-inbox"></i> Export</a></li>
	</ul>