
				<div class="user">

					<h2>Hi, <br><span class="bold">Ben</span></h2>
					<ul class="icons nav nav-list">
						<li><a href="#"><i class="icon-exclamation-sign"></i> Notifications</a></li>
						<li><a href="#"><i class="icon-user"></i> My Account</a></li>
						<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
						<li><a href="#"><i class="icon-inbox"></i> Export</a></li>
					</ul>
				</div>
				<ul class="categories">
					<li>
						<a href="#"> All <span class="badge">24</span></a>
					</li>

					<li>
						<a href="#"> Starred <i class="icon-star"></i><span class="badge">4</span></a>
					</li>

					<li>
						<a href="#"> Bodily <span class="badge">3</span></a>
					</li>

					<li class="active">
						<a href="#"> Nutrition <span class="badge">8</span></a>
					</li>

					<li>
						<a href="#"> Exercise <span class="badge">4</span></a>
					</li>

					<li>
						<a href="#"> Time <span class="badge">2</span></a>
					</li>

					<li>
						<a href="#"> Location <span class="badge">2</span></a>
					</li>

					<li>
						<a href="#"> Finance <span class="badge">5</span></a>
					</li>

					<li>
						<a href="#"> Social <span class="badge">3</span></a>
					</li>

					<li class="add">
						<a href="#">+ Add Category </a>
					</li>
				</ul><!-- .categories -->



	
